
body {
  padding-top: 0px !important;
  font: 20px 'UbuntuRegular',Arial,sans-serif;
    color:#6d626b;
}

body header {
  background: url(../img/header.jpg) 0px 0px no-repeat;
  height: 165px;
  width: 100%;
  position: relative;
}

.container {
  position: relative;
  width: 900px;
}

body header .legend{
    font: 22px 'Ubuntu',Arial,sans-serif;
    letter-spacing:5px;
  width: 70%;
  position: absolute;
  right:   0px;
  top: 118px;
  background-color: #330b2e;
  color: gray;
    opacity: 0.9;
  text-transform: uppercase;
  padding: 10px 0 10px 15px;
}

body header .packshot{
  background: url(../img/packshot-front.jpg) 0px 0px no-repeat;
  height: 307px;
  width: 230px;
  right: 45px;
  top: 25px;
  position: absolute;
}

.intro {
  position: relative;
}

.logo-techtrends{
  height: 60px;
  width: 360px;
  margin: 50px 0px 15px 120px;
}

.intro .text {
  height: 60px;
  width: 390px;
  font: 20px 'Ubuntu',Arial,sans-serif;
  margin: 30px 0px 50px 110px;
  font-style: italic;
  text-align: center;
}

.row {
  position: relative;
}

.feed-zone {
  position: absolute;
  width: 280px;
  right: 40px;
  top: 50px;
  font: 12px 'Ubuntu',Arial,sans-serif;  
}
.feed-zone p{
text-align: center;
}
.twitter-zone {
  position: absolute;
  width: 380px;
  top: 290px;
  font: 20px 'Ubuntu',Arial,sans-serif;  
}

.timer-zone h2 {
    font: 13px 'Ubuntu',Arial,sans-serif;
    text-align: center;
    margin-top: 20px;
    color: #6a205b;
    font-weight: bold;
     text-transform: uppercase;
}

.issue {
  background-color: #eeeeee;
  padding: 15px 0px;
  width:430px;
}

.issue-header {
    width: 100%;
}

.issue-header h2 {
  font: 27px 'Ubuntu',Arial,sans-serif;
  margin: 0px;
  color: gray;
  padding: 8px 15px 0 0px;
  text-transform: uppercase;
  border-bottom: solid 1px;
}

.issue-header hr {
  margin: 0px;
  height: 7px;
  background-color: rgba(0,0,0,0.8);
    background: url('../img/trust-bg.png');
  border: 0px;
}

.issue h3 {
  font: 24px 'Ubuntu',Arial,sans-serif;
  background-color: rgb(0,187,234);
  color: white;
  padding: 10px 0px 8px 20px;
  margin: 0;
  text-transform: uppercase;
  width: 430px;
}
.issue h4 {
  background-color: rgb(0,187,234);
  color: white;
  padding: 10px 0px 8px 20px;
  width: 430px;
  font: 18px 'Ubuntu',Arial,sans-serif;
  font-style: italic;
}
.issue-desc {
  position: absolute;
  width: 380px;
  right: 30px;
  top: 137px;
  font: 18px 'Ubuntu',Arial,sans-serif;  
}

.issue-desc p {
  text-align:left;
}

.issue-desc h3 {
 font: 24px 'Ubuntu',Arial,sans-serif;
  background-color: rgb(0,187,234);
  color: white;
  padding: 10px 0px 8px 20px;
  margin: 0;
  text-transform: uppercase;
  width: 380px;

}

.issue-desc h3 a{
 font: 20px 'Ubuntu',Arial,sans-serif;
  background-color: rgb(0,187,234);
  color: white;
  padding: 10px 0px 8px 20px;
  margin: 0;
  text-transform: uppercase;
  width: 380px;
text-decoration: underline;
}
         
li.list1 {list-style: square outside; color:rgb(0,187,234); }
.blacktext {color:#6d626b; font: 16px 'Ubuntu'; }

.download{
position: absolute;
right: 30px;
top: 70px;
}
.download h2{
  text-align: center;
    font-size:12px;
    text-transform: uppercase;
    padding: 5px;
    margin: 0px;
    display: inline-block;
    letter-spacing: 1px;
    line-height: 20px;
}
.download h2 a{
    color: rgb(0,187,234);
}

.subscribe{
  text-align: center;
margin-bottom: 60px;

}


.subscribe h2{
  text-align: center;
    font-size:14px;
    text-transform: uppercase;
    color:#fff;
    padding: 15px;
    margin: 0px;
    display: inline-block;
    letter-spacing: 1px;
    line-height: 20px;
}
.subscribe h2 a{
    text-decoration: underline;
    color:#fff;
}


.form-container input{
    display: inline-block;
    font: 14px 'Ubuntu',Arial,sans-serif;
    border:solid 1px #aacfe4;
    width:180px;
    background-color: #eee;
    border:solid 1px #fff;
    padding: 5px 2px;
    margin: 10px 10px 10px 0px;
}

.form-container button{
    display: inline-block;
    font: 15px 'Ubuntu',Arial,sans-serif;
    padding:8px 2px;
    border:solid 1px #fff;
    color: #fff;
    width:100px;
    background-color: rgb(0,187,234);
    margin-left: 40px;
}
.social {
  background-color: #d7d5d0;
  position: relative;
  height: 65px;
  margin-top: 10px;
  margin-bottom: 10px;   
  padding-top: 15px;
}
.social a {
  position: absolute;
}
.social .work-twitter {
  left: 90px;
  width: 140px;
  height: 35px;
  background: url('../img/work-twitter.png') no-repeat;
}
.social .work-viadeo {
  left: 290px;
  width: 140px;
  height: 35px;
  background: url('../img/work-viadeo.png') no-repeat;
}
.social .work-googleplus {
    margin-top: 2px;
  left: 470px;
  width: 140px;
  height: 35px;
  background: url('../img/work-googleplus.png') no-repeat;
}
.social .work-linkedin {
  left: 660px;
  width: 140px;
  height: 35px;
  background: url('../img/work-linkedin.png') no-repeat;
}

.footer {
    background-color: #f1f0ee;
    height: 180px;
}

.footer .tagline {
    width: 462px;
    margin: auto;
    height: 170px;
    background: url('../img/footer-alliance.png') 0px 20px no-repeat #f1f0ee;
}
.footer .tagline-xebia {
    width: 462px;
    margin: auto;
    height: 111px;
    background: url('../img/footer-logo-xebia.png') 0px 20px no-repeat #f1f0ee;
}
.footer .tagline-alliance {
    width: 480px;
    margin: auto;
    height: 47px;
    border-top: 1px solid #bebab8;
}
.footer .tagline-alliance p{
    text-transform: uppercase;
    line-height: 30px;
    text-align: justify;
    float: left;
    margin-left: 7px;
    margin-top: 16px;
    font: 13px 'UbuntuRegular', Arial, sans-serif;
    letter-spacing: 1px;
}
.footer .tagline-alliance a{
   color: #6d626b;
}
.footer .tagline-alliance a:hover{
   text-decoration: underline;
}
.logo-alliance {
    margin-top: 10px;
    float: left;
}

.orange {
    background-color: #f99b1d;
}

.blue {
    background-color: rgb(0,187,234);
}

@import url(http://fonts.googleapis.com/css?family=Ubuntu);

