
body {
	padding-top: 0px !important;
	font: 20px 'UbuntuRegular',Arial,sans-serif;
    color:#6d626b;
}

body header {
	background: url(../img/header.jpg) 0px 0px no-repeat;
	height: 165px;
	width: 100%;
	position: relative;
}

.container {
	position: relative;
  width: 900px;
}

body header .legend{
    font: 22px 'Ubuntu',Arial,sans-serif;
    letter-spacing:5px;
	width: 70%;
	position: absolute;
	right:   0px;
	top: 118px;
	background-color: #330b2e;
	color: gray;
    opacity: 0.9;
	text-transform: uppercase;
	padding: 10px 0 10px 15px;
}

body header .packshot{
	background: url(../img/packshot.png) 0px 0px no-repeat;
	height: 400px;
	width: 270px;
	right: 25px;
	top: 25px;
	position: absolute;
}

.intro {
	position: relative;
}

.logo-techtrends{
	background: url(../img/techtrends-logo.png) 0px 0px no-repeat;
	height: 60px;
	width: 360px;
  margin: 30px 0px 15px 120px;
}

.intro .text {
	height: 60px;
	width: 390px;
	font: 20px 'Ubuntu',Arial,sans-serif;
  margin: 0px 0px 50px 110px;
  font-style: italic;
  text-align: center;
}

.row {
  position: relative;
}

.timer-zone {
  position: absolute;
  width: 220px;
  right: 30px;
  top: 20px;
  text-transform: uppercase;
  font: 13px 'Ubuntu',Arial,sans-serif;  
}

.timer-zone h2 {
    font: 13px 'Ubuntu',Arial,sans-serif;
    text-align: right;
    margin-top: 20px;
    font-weight: bold;
}

.issue {
  background-color: rgb(241,240,238);
  padding: 15px 0px;
}

.issue-header {
}

.issue-header h2 {
  font: 27px 'Ubuntu',Arial,sans-serif;
  background: url('../img/trust-bg.png');
	margin: 0px;
	background-color: rgba(0,0,0,0.8);
	color: gray;
  padding: 8px 15px 0 30px;
  display: inline-block;
  text-transform: uppercase;
}

.issue-header hr {
	margin: 0px;
	height: 7px;
	background-color: rgba(0,0,0,0.8);
    background: url('../img/trust-bg.png');
	border: 0px;
}

.issue h3 {
  font: 24px 'Ubuntu',Arial,sans-serif;
	background-color: rgb(0,187,234);
	color: white;
	padding: 10px 0px 8px 20px;
  margin: 0;
	text-transform: uppercase;
	width: 290px;
}
.issue h4 {
	background-color: rgb(0,187,234);
	color: white;
	padding: 10px 0px 8px 20px;
	width: 270px;
	font: 18px 'Ubuntu',Arial,sans-serif;
  font-style: italic;
}

         
li.list1 {list-style: square outside; color:rgb(0,187,234); }
.blacktext {color:#6d626b; font: 19px 'Ubuntu'; }

.subscribe{
  padding-right: 290px;
margin-bottom: 30px;

}

.subscribe h2{
    background-color: rgb(0,187,234);
    font-size:14px;
    text-transform: uppercase;
    color:#fff;
    padding: 15px;
    margin: 0px;
    display: inline-block;
    letter-spacing: 1px;
}

.subscribe .form-container {
    background: url('../img/trust-bg.png');
    padding : 20px;
}

.form-container input{
    display: inline-block;
    font: 14px 'Ubuntu',Arial,sans-serif;
    border:solid 1px #aacfe4;
    width:180px;
    background-color: #eee;
    border:solid 1px #fff;
    padding: 5px 2px;
    margin: 10px 10px 10px 0px;
}

.form-container button{
    display: inline-block;
    font: 15px 'Ubuntu',Arial,sans-serif;
    padding:8px 2px;
    border:solid 1px #fff;
    color: #fff;
    width:100px;
    background-color: rgb(0,187,234);
    margin-left: 40px;
}
.social {
  background-color: #d7d5d0;
  position: relative;
  height: 65px;
  margin-top: 10px;
  margin-bottom: 10px;   
  padding-top: 15px;
}
.social a {
  position: absolute;
}
.social .work-twitter {
  left: 90px;
  width: 140px;
  height: 35px;
  background: url('../img/work-twitter.png') no-repeat;
}
.social .work-viadeo {
  left: 290px;
  width: 140px;
  height: 35px;
  background: url('../img/work-viadeo.png') no-repeat;
}
.social .work-googleplus {
    margin-top: 2px;
  left: 470px;
  width: 140px;
  height: 35px;
  background: url('../img/work-googleplus.png') no-repeat;
}
.social .work-linkedin {
  left: 660px;
  width: 140px;
  height: 35px;
  background: url('../img/work-linkedin.png') no-repeat;
}
footer {
  background-color: #d7d5d0;
  height: 80px;
}
footer .tagline {
  height: 80px;
  background: url('../img/footer-tagline.png') 20px 20px no-repeat #f1f0ee;
}

@import url(http://fonts.googleapis.com/css?family=Ubuntu);